<header>

    <!-- add background video , use css tag .video-container and video --> 
    <div class="video-container">
        <video autoplay loop class="fillWidth">
            <source src="img/bg_sample.mp4" type="video/mp4" /> Your browser does not support the video tag. I suggest you upgrade your browser.
            <!-- <source src="img/medians.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser. -->
        </video>

    <!-- <video autoplay loop class="fillWidth">
        <source src="img/bg_sample.mp4" type="video/mp4" /> Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="img/medians.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser. -->

    <div class="header-content">
        <div class="header-content-inner">
            <h1>손쉬운 딥러닝 기반 VFX Tool, Mizer</h1>
            <hr>
            <p>VFX for Everyone, Medians</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
